@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager
@inject OrchardCore.DisplayManagement.ModelBinding.IUpdateModelAccessor ModelUpdaterAccessor

@{
    var updater = ModelUpdaterAccessor.ModelUpdater;
}

@await DisplayAsync(await ContentItemDisplayManager.BuildDisplayAsync(Model.ContentItem, updater, "Summary"))

@await DisplayAsync(Model.Content.Named("Content"))

<section class="section section--content section--plain">
    <div class="section__content">
        @await DisplayAsync(Model.Content.Named("Speakers"))
    </div>
</section>
