<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@RenderTitleSegments(Site.SiteName)</title>

        <resources type="Meta" />
        <resources type="HeadLink" />
        <resources type="Stylesheet" />
        <resources type="HeadScript" />

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
        <link rel="stylesheet" href="~/Moov2.OrchardCore.EventsTheme/css/style.css">
        <script src="~/Moov2.OrchardCore.EventsTheme/js/bundle.js" async></script>
    </head>

    <body>
        <header>
            <div class="toolbar">
                <div class="toolbar__logo">
                    @await RenderSectionAsync("Logo", required: false)
                </div>

                <div class="toolbar__nav">
                    @await RenderSectionAsync("Nav", required: false)
                </div>
            </div>
        </header>

        <main>
            @await RenderBodyAsync()
        </main>

        <footer>
            <div class="toolbar">
                <div class="toolbar__logo">
                    @await RenderSectionAsync("Logo", required: false)
                </div>

                <div class="toolbar__nav">
                    @await RenderSectionAsync("FooterNav", required: false)
                </div>
            </div>
        </footer>

        @await RenderSectionAsync("Footer", required: false)

        <resources type="FootScript" />
    </body>
</html>