@{
    var latestEvent = Orchard.ContentQueryAsync("LatestEvent").Result.SingleOrDefault();

}

@if (latestEvent != null)
{
    <p class="text--uppercase margin--bottom-large">Full Speaker Line-up</p>
    <ul class="list list--horizontal list--double">
    @foreach (var speaker in latestEvent.ContentItem.Content.Speakers.ContentItems)
    {
        <li class="list__item">
            <div class="media media--tight">
                <div class="placeholder placeholder--thumbnail"></div>

                <div class="media__body">
                    <h3>@speaker.TitlePart.Title</h3>
                    <p class="text--italic">@speaker.Speaker.Occupation.Text</p>
                </div>
            </div>
        </li>
    }
    </ul>
}