/**
 * $HEADINGS
 */

/**
 * Heading elements (h1, h2, h3, etc...)
 */

h1, h2, h3 {
    display: block;
    margin-top: 0;

    font-family: $font-family-heading;

    a {
        text-decoration: none;
        
        &:active,
        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
}

h1 {
    color: $font-color-alt;
    @include rem(font-size, $font-size-sub-heading);
    @include rem(line-height, $font-line-height-sub-heading);

    @include bp-min-width($heading-bp-smaller-text) {
        @include rem(font-size, $font-size-heading);
        @include rem(line-height, $font-line-height-heading);
    }
}

h2 {
    display: block;
    position: relative;

    @include rem(font-size, $font-size-sub-heading);
    @include rem(line-height, $font-line-height-sub-heading);
    text-transform: uppercase;

    &:before {
        display: none;
        @include rem(height, $heading-effect-height);
        @include rem(left, $heading-effect-left);
        position: absolute;
        @include rem(top, $heading-effect-top);
        @include rem(width, $heading-effect-width);

        @include rem(border-top-left-radius, $heading-effect-width);
        @include rem(border-bottom-right-radius, $heading-effect-width);
        background-color: $color-cta;

        content: "";

        @include bp-min-width($heading-bp-remove-effect) {
            display: block;
        }
    }

    &.disable-effect {
        &:before {
            display: none;
        }
    }
}

h3 {
    @include rem(margin-bottom, $spacing-small);

    @include rem(font-size, $font-size-large);
    @include rem(line-height, $font-line-height-large);
}