/**
 * $BUTTON
 */

/**
 * Interactive elements that perform an action (e.g. navigating
 * a user to another page).
 */

.button {
    display: inline-block;
}

a.button--cta,
.button--cta {
    @include rem(padding-bottom, $spacing-base);
    @include rem(padding-left, $spacing-large);
    @include rem(padding-right, $spacing-large);
    @include rem(padding-top, $spacing-base);

    background-color: $button-cta-background;
    @include rem(border-top-left-radius, $button-cta-border-radius);
    @include rem(border-bottom-right-radius, $button-cta-border-radius);

    color: $button-cta-color;
    font-weight: bold;
    @include rem(line-height, $button-cta-line-height);
    text-decoration: none;
    text-transform: uppercase;
}

a.button--primary,
.button--primary {
    @include rem(padding-bottom, $spacing-base);
    @include rem(padding-left, $spacing-large);
    @include rem(padding-right, $spacing-large);
    @include rem(padding-top, $spacing-base);

    background-color: $button-primary-background;

    color: $button-primary-color;
    @include rem(line-height, $button-primary-line-height);
    text-decoration: none;
    text-transform: uppercase;
}