/**
 * $INFO
 */

/**
 * Displays a single piece of information, which could have an action.
 */

.info {
    display: block;
    @include rem(padding, $spacing-large);
}

    .info__title {
        @include rem(margin-bottom, $spacing-large);

        color: $info-title-color;
        text-transform: uppercase;
    }

    .info__content {
        @include rem(margin-bottom, $spacing-small);

        color: $info-content-color;
        @include rem(font-size, $info-content-font-size);
        font-weight: bold;
    }

    .info__meta {
        font-style: italic;
    }

    .info__action {
        color: $info-action-color;

        a {
            text-decoration: none;

            &:active,
            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }