/**
 * $LISTS
 */

/**
 * Displays a list of items.
 */

.list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    list-style: none;

    .list {
        @include rem(margin-left, $list-sub-margin);
        @include rem(padding-top, $spacing-small);
    }
}

    li,
    .list__item {
        box-sizing: border-box;
    }


.list--horizontal,
.list--horizontal-tight {
    flex-direction: row;
    flex-wrap: wrap;
}

.list--horizontal {
    li,
    .list__item {
        @include rem(padding-right, $spacing-large);
    }
}

.list--horizontal-tight {
    li,
    .list__item {
        @include rem(padding-right, $spacing-base);
    }
}

.list--vertical {
    li,
    .list__item {
        @include rem(margin-bottom, $spacing-small);
    }
}

.list--double {
    li,
    .list__item {
        @include rem(margin-bottom, $spacing-large);
        width: 100%;

        @include bp-min-width($list-bp-double-stacked) {
            width: 50%;
        }
    }
}

.list--triple {
    li,
    .list__item {
        @include rem(margin-bottom, $spacing-base);
        padding-right: 0;
        width: 100%;

        @include bp-min-width($list-bp-triple-stack) {
            @include rem(padding-right, $spacing-large);
            width: 50%;
        }

        @include bp-min-width($list-bp-triple-wrap) {
            @include rem(margin-bottom, $spacing-large);
            width: 33.3%;
        }
    }
}