/**
 * $MEDIA
 */

/**
 * Displays a media element (image, video, etc...) with some accompanying
 * content.
 */

.media {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include bp-min-width($media-bp-stack) {
        flex-direction: row;
    }

    &.is-disable-wrap {
        flex-direction: row;
    }
}

.media--rev {
    flex-direction: column-reverse;

    @include bp-min-width($media-bp-stack) {
        flex-direction: row-reverse;
    }

    &.is-disable-wrap {
        flex-direction: row-reverse;
    }
}

.media--stacked {
    display: block;
}

.media--spaced {
    .media__body {
        @include rem(margin-left, $spacing-large);
        margin-right: 0;
    }

    &.media--rev {
        .media__body {
            margin-left: 0;
            @include rem(margin-right, $spacing-large);
        }
    }

    @include bp-min-width($media-bp-tight) {
        .media__body {
            @include rem(margin-left, $spacing-x-large);
            margin-right: 0;
        }

        &.media--rev {
            .media__body {
                margin-left: 0;
                @include rem(margin-right, $spacing-x-large);
            }
        }
    }
}

.media--tight {
    .media__body {
        @include rem(margin-left, $spacing-base);
        margin-right: 0;
    }

    &.media--rev {
        .media__body {
            margin-left: 0;
            @include rem(margin-right, $spacing-base);
        }
    }
}

    .media__body {
        flex: 1;
    }

/**
 * Alignment helpers.
 */

.media.align-top {
    align-items: flex-start;
}

.media.align-bottom {
    align-items: flex-end;
}