/**
 * $PLACEHOLDER
 */

/**
 * Element that is used to represent a media element that hasn't
 * yet been uploaded.
 */

.placeholder {
    display: block;

    background-color: $placeholder-background-color;
}

.placeholder--thumbnail {
    height: 78px;
    width: 78px;
}

.placeholder--thumbnail-article {
    height: 180px;
    width: 100%;
}

.placeholder--thumbnail-large {
    height: 180px;
    width: 180px;
}

.placeholder--thumbnail-video {
    height: 180px;
    width: 320px;
}