/**
 * $TOOLBAR
 */

/**
 * Toolbar that displays an identity and navigation options typically displayed
 * at the top of the page.
 */

.toolbar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    @include rem(height, $toolbar-height);
    justify-content: space-between;
    @include rem(padding-left, $spacing-large);
    @include rem(padding-right, $spacing-large);
    width: 100%;

    background-color: $toolbar-background;

    color: $font-color-alt;
    font-family: $toolbar-font-family;

    a {
        color: $toolbar-nav-color;
        text-decoration: none;
    }
}

    .toolbar__logo {
        @include rem(padding-bottom, $spacing-base);
        @include rem(padding-top, $spacing-base);

        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        a {
            color: $toolbar-logo-color;
        }
    }

    .toolbar__nav {
        height: 100%;
        
        @include rem(font-size, $toolbar-nav-font-size);
        line-height: 1;
    }
